
<mat-card>
  <mat-card-title class="title">Student Details</mat-card-title>
  <mat-card-content>
  <table>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Fees</th>
      <th>Pending</th>
      <th>Admission Details</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>Ankit</td>
      <td>Singh</td>
      <td>500</td>
      <td>200</td>
      <td>25-04-2021</td>
      <td><a routerLink="details" routerLinkActive="active"><mat-icon>visibility</mat-icon></a></td>
    </tr>
  </table>
  </mat-card-content>
</mat-card>
  